.mat-toolbar.mat-primary {
  color: #4091f1;;
  background: #b25845;
  }

// Couleur du menu latéral gauche
.left_menu {
  color: #4091f1;
  background-color: #b25845;
  }

// Couleur de l'item actif
.active-link {
  color: #4091f1;
  font-weight: bold!important;
  background-color: #d39e2d;
  }