.mat-toolbar.mat-primary {
  color: #4091f1;
  background: #b25845;
  }

// Couleur du menu latéral gauche
.sidenav, .left-menu {
  color: #4091f1;
  }

// Couleur de l'item actif
mat-toolbar, .active-link {
  color: #3e92f1;
  background-color: #b2584580;
  }

.mat-list-item:hover, a:hover {
  background-color: #b2584530;
}
