<!-- FOND DE PAGE APPLICATION -->

<mat-sidenav-container class="main-sidenav-container"
                       autosize
                       fullscreen>

  <!-- MENU DE GAUCHE -->
  <mat-sidenav #drawer
               class="sidenav"
               [fixedInViewport]="(isHandset$ | async) === false || (isSmallScreen$ | async) === false"
               [attr.role]="(isHandset$ | async) || (isSmallScreen$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) || (isSmallScreen$ | async) ? 'over' : 'side'"
               [opened]="!((isHandset$ | async) || (isSmallScreen$ | async))">

    <mat-toolbar>
      <img alt="Bra.Tool Menu"
           src="assets/bra.tool.ico"
           style="height: 2em" />
      <!--<img class="title"
           src="./assets/dark/banner_BRATOOL.svg" /> -->
    </mat-toolbar>

    <mat-tree [dataSource]="menuSource"
              [treeControl]="treeControl"
              class="menu-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node"
                     matTreeNodeToggle>
        <li class="mat-tree-node">
          <!-- use a disabled button to provide padding for tree leaf -->
          <a routerLinkActive="active-link"
             class="hover-link left-menu"
             [routerLinkActiveOptions]="{ exact: true}"
             [routerLink]="node.routerLink">
            <div class="mat-tree-content">
              <mat-icon matListIcon
                        class="mat-icon-padding"
                        [svgIcon]="node.svgIcon"></mat-icon>{{node.label}}
            </div>
          </a>
        </li>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div class="mat-tree-node">
            <div class="hover-link left-menu "
                 matTreeNodeToggle
                 [attr.aria-label]="'Toggle ' + node.label">
              <div class="mat-tree-content">
                <mat-icon [svgIcon]="node.svgIcon"
                          [@rotatedState]="treeControl.isExpanded(node) ? 'rotated' : 'default'">
                </mat-icon>
                {{node.label}}
              </div>
            </div>
          </div>
          <div [@expandedState]="treeControl.isExpanded(node) ? 'expanded' : 'collapsed'"
               class="hide-overflow">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </li>
      </mat-nested-tree-node>
    </mat-tree>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <!-- HEADER -->
      <button type="button"
              aria-label="Toggle sidenav"
              mat-button
              class="btn-bra-tool"
              (click)="drawer.toggle()"
              *ngIf="(isHandset$ | async) || (isSmallScreen$ | async)"
              matTooltip="Affiche le menu Bra">
        <div>
          <img alt="Bra.Tool Menu"
               src="assets/bra.tool.ico"
               style="height: 2em" />
          <img class="title display-unless-min"
               alt="Bra.Tool Menu"
               src="./assets/dark/banner_BRATOOL.svg" />
        </div>
      </button>
      <button mat-button
              *ngIf="(isHandset$ | async) || (isSmallScreen$ | async)"
              class="display-unless-min"
              disabled>
        <mat-icon></mat-icon>
      </button>
      <app-header></app-header>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
