<mat-form-field appearance="fill"
                class="full-width">
  <mat-label>Quel est le nouvel ingrédient ?</mat-label>
  <mat-select cdkFocusInitial
              [disabled]="(service.loading | async) || value"
              (selectionChange)="childNameChange($event)">
    <mat-option *ngFor="let childName of service.ingredientChildrenNames"
                [value]="childName.value">
      {{childName.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<form [formGroup]="service.form"
      *ngIf="service.form"
      (ngSubmit)="onSubmitClick()">
  <fieldset [disabled]="service.loading | async">
    <fieldset *ngIf="service.form">
      <mat-form-field class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput
               required
               formControlName="name"
               placeholder="Ex. Vienna"
               value="">
        <mat-error>
          <!-- TODO mettre en forme cette appel pour la faire plus courte -->
          {{ service.form.get('name').errors?.serverError }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Unité</mat-label>
        <input matInput
               formControlName="unit"
               placeholder="Ex. kg"
               value="">
        <mat-error>
          {{ service.form.get('unit').errors?.serverError }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Facteur d'unité</mat-label>
        <input matInput
               formControlName="unitFactor"
               type="number"
               required
               min=1
               placeholder="Ex. 1000 pour passer d'un gramme à 1kg"
               value="">
        <mat-error>
          {{ service.form.get('unitFactor').errors?.serverError }}
        </mat-error>
      </mat-form-field>

      <!-- Spécification des ingrédients -->
      <!-- Todo créer un composant factory -->
      <!-- Other -->
      <div *ngIf="service.form.value.childName === 'other'"
           class="flex">
        <mat-form-field class="full-width">
          <mat-label>Type</mat-label>
          <input matInput
                 required
                 formControlName="type"
                 placeholder="Ex. Sucre"
                 value="">
          <mat-error>
            {{ service.form.get('type').errors?.serverError }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Cereal -->
      <div *ngIf="service.form.value.childName === 'cereal'"
           class="flex">
        <mat-form-field class="full-width">
          <mat-label>Plante</mat-label>
          <input matInput
                 required
                 formControlName="plant"
                 placeholder="Ex. Orge"
                 value="">
          <mat-error>
            {{ service.form.get('plant').errors?.serverError }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Type</mat-label>
          <mat-select required
                      formControlName="type">
            <mat-option *ngFor="let childName of service.cerealTypes"
                        [value]="childName.value">
              {{childName.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error>
            {{ service.form.get('type').errors?.serverError }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Format</mat-label>
          <mat-select required
                      formControlName="format">
            <mat-option *ngFor="let childName of service.cerealFormats"
                        [value]="childName.value">
              {{childName.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error>
            {{ service.form.get('format').errors?.serverError }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>EBC</mat-label>
          <input matInput
                 required
                 formControlName="ebc"
                 type="number"
                 min=1
                 placeholder="saisir ici la valeur"
                 value="">
          <mat-error>
            {{ service.form.get('ebc').errors?.serverError }}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Houblon -->
      <div *ngIf="service.form.value.childName === 'hop'"
           class="flex">
        <mat-form-field class="full-width">
          <mat-label>Type</mat-label>
          <input matInput
                 required
                 formControlName="type"
                 placeholder="Ex. Sucre"
                 value="">
          <mat-error>
            {{ service.form.get('type').errors?.serverError }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Acid Alpha</mat-label>
          <input matInput
                 required
                 formControlName="acidAlpha"
                 placeholder="Ex. ???"
                 value="">
          <mat-error>
            {{ service.form.get('acidAlpha').errors?.serverError }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Année de la récolte</mat-label>
          <input matInput
                 required
                 formControlName="harvestYear"
                 placeholder="Ex. 2020"
                 type="date"
                 value="">
          <mat-error>
            {{ service.form.get('harvestYear').errors?.serverError }}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Fin des spécifications -->
      <mat-form-field class="full-width">
        <mat-label>Commentaire</mat-label>
        <textarea matInput
                  formControlName="comment"
                  placeholder="..."></textarea>
        <mat-error>
          {{ service.form.get('comment').errors?.serverError }}
        </mat-error>
      </mat-form-field>
    </fieldset>
    <div mat-dialog-actions
         class="flex-reverse">
      <button mat-button
              [disabled]="!service.form || service.form.invalid"
              type="submit"
              (click)="onSubmitClick()">Sauvegarder</button>
      <button mat-button
              type="button"
              (click)="onCancelClick()">Annuler</button>
    </div>
  </fieldset>
</form>
<!-- C'est moche mais c'est parce que je suis faignant... -->
<div mat-dialog-actions
     *ngIf="!service.form"
     class="flex-reverse">
  <button mat-button
          disabled
          (click)="onSubmitClick()">Sauvegarder</button>
  <button mat-button
          [disabled]="service.loading | async"
          type="button"
          (click)="onCancelClick()">Annuler</button>
</div>
