<!-- TITRE DE LA POPUP -->
<mat-form-field appearance="fill"
                class="full-width">
  <mat-label> Ajouter ingrédient</mat-label>
  <mat-select cdkFocusInitial
              [disabled]="service.loadingSource || value"
              [value]="value?.childName"
              (selectionChange)="childNameChange($event)">
    <mat-option *ngFor="let childName of service.ingredientChildrenNames"
                [value]="childName.value">
      {{childName.viewValue}}
    </mat-option>
  </mat-select>

</mat-form-field>

<!-- FORMULAIRE -->
<form [formGroup]="service.form"
      *ngIf="service.form"
      (ngSubmit)="onSubmitClick()">
  <fieldset [disabled]="service.loadingSource"
            [ngStyle]="{'pointer-events':service.loadingSource ? 'none' : 'auto' }">
    <mat-dialog-content>
      <fieldset *ngIf="service.form">
        <!-- NOM -->
        <mat-form-field class="full-width">
          <mat-label>Nom</mat-label>
          <input matInput
                 required
                 formControlName="name"
                 placeholder="Ex. Vienna"
                 value="">
          <mat-error>
            {{ service.form.get('name').errors?.serverError }}
          </mat-error>
        </mat-form-field>

        <!-- UNITE + FACTEUR UNITE -->
        <!-- TODO mettre en forme cette appel pour la faire plus courte -->
        <!-- Par exemple mettre un comboBox kg/gr qui implicitement mets le bon facteur d'unité ???? -->
        <mat-form-field class="full-width">
          <mat-label>Unité</mat-label>
          <input matInput
                 formControlName="unit"
                 placeholder="Ex. kg"
                 value="">
          <mat-error>
            {{ service.form.get('unit').errors?.serverError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Facteur d'unité</mat-label>
          <input matInput
                 formControlName="unitFactor"
                 type="number"
                 required
                 min=1
                 placeholder="Ex. 1000 pour passer de gramme à kg"
                 value="">
          <mat-error>
            {{ service.form.get('unitFactor').errors?.serverError }}
          </mat-error>
        </mat-form-field>


        <!-- Spécification des ingrédients -->
        <!-- Todo créer un composant factory -->

        <!------------->
        <!-- Cereal -->
        <div *ngIf="service.form.value.childName === 'cereal'"
             class="flex">
          <mat-form-field class="full-width">
            <mat-label>Plante</mat-label>
            <input matInput
                   required
                   formControlName="plant"
                   placeholder="Ex. Orge"
                   value="">
            <mat-error>
              {{ service.form.get('plant').errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Type</mat-label>
            <mat-select required
                        formControlName="type">
              <mat-option *ngFor="let childName of service.cerealTypes"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('type').errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Format</mat-label>
            <mat-select required
                        formControlName="format">
              <mat-option *ngFor="let childName of service.cerealFormats"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('format').errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Catégorie</mat-label>
            <mat-select required
                        formControlName="category">
              <mat-option *ngFor="let childName of service.cerealCategories"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('category').errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>EBC</mat-label>
            <input matInput
                   required
                   formControlName="ebc"
                   type="number"
                   min=1
                   placeholder="Ex. 4"
                   value="">
            <mat-error>
              {{ service.form.get('ebc').errors?.serverError }}
            </mat-error>
          </mat-form-field>
        </div>

        <!--------->
        <!-- Hop -->
        <div *ngIf="service.form.value.childName === 'hop'"
             class="flex">
          <mat-form-field class="full-width">
            <mat-label>Type</mat-label>
            <mat-select required
                        formControlName="type">
              <mat-option *ngFor="let childName of service.hopTypes"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('type').errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Acid Alpha</mat-label>
            <input matInput
                   formControlName="acidAlpha"
                   type="number"
                   required
                   min=1
                   placeholder="Saisir ici le % d'acide alpha"
                   value="">
            <mat-error>
              {{ service.form.get('acidAlpha').errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Année de récolte</mat-label>
            <mat-select required
                        formControlName="harvestYear">
              <mat-option *ngFor="let year of years"
                          [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('harvestYear').errors?.serverError }}
            </mat-error>
            <mat-error *ngIf="service.form.get('harvestYear').errors?.pattern">
              Le format de la date n'est pas valide. J'attends juste l'année.
            </mat-error>
          </mat-form-field>
        </div>

        <!----------->
        <!-- Yeast -->
        <div *ngIf="service.form.value.childName === 'yeast'"
             class="flex">
          <mat-form-field class="full-width">
            <mat-label>Type</mat-label>
            <mat-select required
                        formControlName="type">
              <mat-option *ngFor="let childName of service.yeastType"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('type').errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Année de production</mat-label>
            <input matInput
                   required
                   formControlName="productionYear"
                   placeholder="Saisir ici l'année de production: 10-2020"
                   type="month"
                   [matDatepicker]="dp">
            <mat-datepicker-toggle matSuffix
                                   [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error>
              {{ service.form.get('productionYear').errors?.serverError }}
            </mat-error>
          </mat-form-field>
        </div>

        <!----------->
        <!-- Other -->
        <div *ngIf="service.form.value.childName === 'other'"
             class="flex">
          <mat-form-field class="full-width">
            <mat-label>Type</mat-label>
            <input matInput
                   required
                   formControlName="type"
                   placeholder="Ex. Sucre"
                   value="">
            <mat-error>
              {{ service.form.get('type').errors?.serverError }}
            </mat-error>
          </mat-form-field>
        </div>

        <!--------->
        <!-- Keg -->
        <div *ngIf="service.form.value.childName === 'keg'"
             class="flex">

          <mat-form-field class="full-width">
            <mat-label>Volume</mat-label>
            <mat-select required
                        formControlName="volume">
              <mat-option *ngFor="let childName of service.kegVolume"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('volume').errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Tête</mat-label>
            <mat-select required
                        formControlName="head">
              <mat-option *ngFor="let childName of service.kegHead"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('head').errors?.serverError }}
            </mat-error>
          </mat-form-field>

        </div>

        <!------------>
        <!-- Bottle -->
        <div *ngIf="service.form.value.childName === 'bottle'"
             class="flex">

          <mat-form-field class="full-width">
            <mat-label>Type</mat-label>
            <mat-select required
                        formControlName="type">
              <mat-option *ngFor="let childName of service.bottleType"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('type').errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Volume</mat-label>
            <mat-select required
                        formControlName="volume">
              <mat-option *ngFor="let childName of service.bottleVolume"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('volume').errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Couleur</mat-label>
            <input matInput
                   required
                   formControlName="color"
                   placeholder="Saisir ici la couleur"
                   value="">
            <mat-error>
              {{ service.form.get('color').errors?.serverError }}
            </mat-error>
          </mat-form-field>
        </div>

        <!--------------->
        <!-- BottleTop -->
        <div *ngIf="service.form.value.childName === 'bottleTop'"
             class="flex">

          <mat-form-field class="full-width">
            <mat-label>Taille</mat-label>
            <mat-select required
                        formControlName="size">
              <mat-option *ngFor="let childName of service.bottleTopSize"
                          [value]="childName.value">
                {{childName.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('size').errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Couleur</mat-label>
            <input matInput
                   required
                   formControlName="color"
                   placeholder="Saisir ici la couleur"
                   value="">
            <mat-error>
              {{ service.form.get('color').errors?.serverError }}
            </mat-error>
          </mat-form-field>
        </div>

        <!--------->
        <!-- Box -->
        <div *ngIf="service.form.value.childName === 'box'"
             class="flex">
          <mat-form-field class="full-width">
            <mat-label>Bouteille</mat-label>
            <mat-select formControlName="bottle"
                        [compareWith]="compareBottle">
              <mat-option [value]="undefined">Sans bouteille</mat-option>
              <mat-option *ngFor="let bottle of service.allBottles"
                          [value]="bottle">
                {{bottle.name}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ service.form.get('bottle').errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Capacité</mat-label>
            <input matInput
                   formControlName="capacity"
                   type="number"
                   required
                   min=1
                   placeholder="Saisir ici la capacité"
                   value="">
            <mat-error>
              {{ service.form.get('capacity').errors?.serverError }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Fin des spécifications -->
        <mat-form-field class="full-width">
          <mat-label>Commentaire</mat-label>
          <textarea matInput
                    formControlName="comment"
                    placeholder="..."></textarea>
          <mat-error>
            {{ service.form.get('comment').errors?.serverError }}
          </mat-error>
        </mat-form-field>
      </fieldset>
    </mat-dialog-content>
    <!-- 2 BOUTONS DU BAS -->
    <div mat-dialog-actions
         class="flex-reverse">
      <button mat-icon-button
              [disabled]="!service.form || service.form.invalid"
              *ngIf="!value"
              type="submit"
              attr.aria-label="Ajout"
              matTooltip="Ajout"
              (click)="onSubmitClick()">
        <mat-icon svgIcon="beaker-plus"></mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="value"
              [disabled]="!service.form || service.form.invalid"
              type="submit"
              (click)="onSubmitClick()"
              attr.aria-label="Modifier"
              matTooltip="Modifier">
        <mat-icon svgIcon="beaker"></mat-icon>
      </button>
      <button mat-icon-button
              type="button"
              attr.aria-label="Annuler"
              matTooltip="Annuler"
              (click)="onCancelClick()">
        <mat-icon svgIcon="cancel"></mat-icon>
      </button>
      <div class="spacer"></div>
      <button mat-icon-button
              [disabled]="!service.form || service.form.invalid || service.loadingSource"
              attr.aria-label="Supprimer"
              matTooltip="Supprimer"
              type="button"
              (click)="onDeleteClick()">
        <mat-icon svgIcon="beaker-remove"></mat-icon>
      </button>
    </div>
  </fieldset>

</form>

<!-- C'est moche mais c'est parce que je suis fainéant..  PAS COMPRIS ???? . -->
<!-- Ça fait doublons avec les boutons d'haut dessus mais je n'ai pas envie de faire un truc de sioux pour faire
  quelques chose de jolie. -->
<div mat-dialog-actions
     *ngIf="!service.form"
     class="flex-reverse">
  <button mat-icon-button
          [disabled]="!service.form || service.form.invalid"
          *ngIf="!value"
          type="submit"
          attr.aria-label="Ajout"
          matTooltip="Ajout"
          (click)="onSubmitClick()">
    <mat-icon svgIcon="beaker-plus"></mat-icon>
  </button>
  <button mat-icon-button
          *ngIf="value"
          [disabled]="!service.form || service.form.invalid"
          type="submit"
          (click)="onSubmitClick()"
          attr.aria-label="Modifier"
          matTooltip="Modifier">
    <mat-icon svgIcon="beaker"></mat-icon>
  </button>
  <button mat-icon-button
          type="button"
          attr.aria-label="Annuler"
          matTooltip="Annuler"
          (click)="onCancelClick()">
    <mat-icon svgIcon="cancel"></mat-icon>
  </button>
  <div class="spacer"></div>
  <button mat-icon-button
          [disabled]="!service.form || service.form.invalid || service.loadingSource"
          attr.aria-label="Supprimer"
          matTooltip="Supprimer"
          type="button"
          (click)="onDeleteClick()">
    <mat-icon svgIcon="beaker-remove"></mat-icon>
  </button>
</div>
