<div class="full-width padding">
  <mat-tab-group [selectedIndex]="formSelectedBrew.value"
                 mat-align-tabs="center"
                 (selectedIndexChange)="formSelectedBrew.setValue($event)">
    <mat-tab label="Brassins">
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let brewView of brewsViewList"
                             [disabled]="brewView.dataSource.data.length === 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span [matBadge]="brewView.dataSource.data.length"
                    matBadgeSize="small">{{brewView.title}}</span>
            </mat-panel-title>
            <mat-panel-description>
              <span></span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-brews-table [dataSource]="brewView.dataSource"
                           [lastColumn]="brewView.lastColumn"
                           (selected)="openTab($event)"
                           (deleteBrew)="deleteBrew($event)"></app-brews-table>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab *ngFor="let brew of selectedBrews; let index = index">
      <ng-template mat-tab-label>
        {{service.getDisplay('number', brew)}} - {{service.getDisplay('name', brew)}}
        <button mat-icon-button
                (click)="closeTab($event, brew, index)">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <app-brew-details-desktop [brew]="brew"></app-brew-details-desktop>
    </mat-tab>
  </mat-tab-group>
</div>
