tr.detail-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.margin-around {
  border-bottom: 0.2em dashed gray;
}
.inline {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
}
.padding {
  padding: 1em;
}
.cursor {
  cursor: pointer;
}

.inline-flex-invert {
  display: flex;
  flex-direction: row-reverse;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

.quantityForm {
  min-width: 60px;
  margin-right: 0.5em;
}
.priceForm {
  min-width: 60px;
}
.supplierForm {
  min-width: 90px;
  margin-right: 0.5em;
}
.deliveryScheduledForm {
  min-width: 120px;
  margin-right: 0.5em;
}

.action-container {
  display: flex;
  justify-content: right;
  margin-top: 17.5px;
}

.action-container {
  button {
  opacity: 0.5;
  }
  button:hover {
    opacity: 1;
  }
}

.grow-twice {
  flex-grow: 2;
}

::ng-deep .mat-form-field-underline {
    display: none;
}
