<fieldset [disabled]="stockService.loadingSource">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let supplier of orderMap.suppliers"
                         [expanded]="supplier.expanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{supplier.supplier.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table
             class="full-width"
             #matTable
             matSort
             [dataSource]="supplier.stocks">
        <ng-container [matColumnDef]="header.value"
                      *ngFor="let header of headersStock">
          <th mat-header-cell
              class="header-box"
              [mat-sort-header]="header.value"
              *matHeaderCellDef>{{header.viewValue}}
          </th>
          <td mat-cell
              *matCellDef="let element"
              [ngSwitch]="header.value">
            <span *ngSwitchDefault> {{ getDisplay(header.value, element) }} </span>
            <div *ngSwitchCase="'quantityOrder'">
              <mat-form-field appearance="legacy">
                <mat-label></mat-label>
                <input matInput
                       [placeholder]="'Ex: 23 ' + element.ingredient.unit"
                       type="number"
                       step="any"
                       min="0"
                       (change)="updateStock($event, element, 'quantity')"
                       [value]="element.quantity / element.ingredient.unitFactor">
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'price'">
              <mat-form-field appearance="legacy">
                <mat-label></mat-label>
                <input matInput
                       [placeholder]="'Ex: 23 €'"
                       type="number"
                       step="any"
                       min="0"
                       (change)="updateStock($event, element, 'price')"
                       [value]="element.price">
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'deliveryPlanned'">
              <div class="inline">
                <mat-form-field appearance="legacy">
                  <mat-label></mat-label>
                  <input matInput
                         [disabled]="!element.id || stockService.loadingSource"
                         [matDatepicker]="deliveryScheduledFor"
                         (dateInput)="updateDate($event, element, 'deliveryScheduledFor')"
                         (dateChange)="updateDate($event, element, 'deliveryScheduledFor')"
                         [value]="element.deliveryScheduledFor">
                  <mat-datepicker-toggle matSuffix
                                         [for]="deliveryScheduledFor"></mat-datepicker-toggle>
                  <mat-datepicker #deliveryScheduledFor></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

          </td>

        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell
              *matHeaderCellDef>
          </th>
          <td mat-cell
              *matCellDef="let element">
            <mat-slide-toggle [checked]="element.state === 'stocked' || element.state === 'sold_out'"
                              [matTooltip]="element.ingredient.name
                              + (element.state === 'stocked' ? ' est en stock' : ' n\'est pas en stock')"
                              (change)="updateStockState($event, element, supplier)"></mat-slide-toggle>
          </td>
        </ng-container>

        <tr mat-header-row
            class="tr-box"
            *matHeaderRowDef="displayedColumnsStock"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumnsStock;"
            class="element-row"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</fieldset>
