tr.detail-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.inline {
  display: flex;
}

.cursor {
  cursor: pointer;
}

.inline-flex-invert {
  display: flex;
  flex-direction: row-reverse;
}
