<div class="inline-header">
  <div class="inline">
    <button mat-icon-button
            (click)="openCreateDialog($event)"
            [matTooltip]="'Ajouter un ingrédient au stock'">
      <mat-icon svgIcon="flask-plus-outline"></mat-icon>
    </button>
    <button mat-icon-button
            [matTooltip]="stockDisplay.filterExpanded ? 'Cacher les filtres' : 'Afficher les filtres'"
            (click)="stockDisplay.filterExpanded = !stockDisplay.filterExpanded">
      <mat-icon svgIcon="filter"
                *ngIf="stockDisplay.filterExpanded"></mat-icon>
      <mat-icon svgIcon="filter-off"
                *ngIf="!stockDisplay.filterExpanded"></mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Affichage sous forme de tableau"
            *ngIf="stockDisplay.isViewList"
            (click)="stockDisplay.viewTable()">
      <mat-icon svgIcon="view-column">
      </mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Affichage sous forme de list"
            *ngIf="stockDisplay.isViewTable"
            (click)="stockDisplay.viewList()">
      <mat-icon svgIcon="view-agenda">
      </mat-icon>
    </button>
  </div>
  <div class="spacer"></div>
  <div class="bra-center"
       *ngIf="!((isHandset$ | async) || (isSmallScreen$ | async)) && !isDialog">
    <img class="little-title"
         alt="Bra.Tool Menu"
         src="./assets/dark/banner_BRATOOL.svg" />
  </div>
  <div class="spacer"></div>
  <form [formGroup]="searchForm">
    <mat-form-field>
      <mat-label>Recherche</mat-label>
      <input matInput
             id="searchText"
             formControlName="search"
             type="search"
             aria-label="Recherche">
      <button for="searchText"
              mat-icon-button
              matSuffix
              type="submit"
              (click)="search()"
              matTooltip="Rechercher">
        <mat-icon svgIcon="magnify"></mat-icon>
      </button>
      <button for="searchText"
              mat-icon-button
              matSuffix
              type="button"
              (click)="clear()"
              *ngIf="searchForm.value.search"
              [matTooltip]="'Supprimer la recherche'">
        <mat-icon svgIcon="magnify-close"></mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
