.inline-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inline-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
