<form [formGroup]="service.form"
      *ngIf="service.form"
      (ngSubmit)="onSubmitClick()">
  <mat-dialog-content>
    <fieldset [disabled]="service.loadingSource || ingredientService.loadingSource"
              [ngStyle]="{'pointer-events':service.loadingSource || ingredientService.loadingSource ? 'none' : 'auto' }">
      <mat-form-field class="full-width">
        <mat-label>Quel est l'ingrédient ?</mat-label>
        <mat-select cdkFocusInitial
                    formControlName="ingredient"
                    [compareWith]="compareId">
          <mat-option *ngFor="let ingredient of ingredientService.model"
                      [value]="ingredient">
            {{ingredient.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          {{service.form.get('ingredient').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Quantité {{service.form.value.ingredient ? '(' + service.form.value.ingredient.unit + ')' : ''}}
        </mat-label>
        <input matInput
               required
               formControlName="quantity"
               placeholder="Ex: 10"
               type="number"
               value="">
        <mat-error>
          {{service.form.get('quantity').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Prix</mat-label>
        <input matInput
               required
               formControlName="price"
               placeholder="Ex: 23"
               type="number"
               step="any"
               min="0"
               appTwoDigitDecimalNumber>
        <mat-error>
          {{service.form.get('price').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>État</mat-label>
        <mat-select required
                    formControlName="state"
                    placeholder="Ex: Commandé">
          <mat-option *ngFor="let state of service.states"
                      [value]="state.value">
            {{state.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error>
          {{service.form.get('state').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width cursor">
        <mat-label>Fournisseur</mat-label>
        <app-supplier-select-input #supplier
                                   formControlName="supplier"></app-supplier-select-input>
        <button mat-icon-button
                matSuffix
                [matTooltip]="'Supprime le fournisseur'"
                *ngIf="service.form.get('supplier').value"
                (click)="supplier.deleteSupplier($event)">
          <mat-icon svgIcon="close"></mat-icon>
        </button>
        <mat-error>
          {{service.form.get('supplier').errors?.serverError}}
        </mat-error>
      </mat-form-field>
    </fieldset>
  </mat-dialog-content>
  <div mat-dialog-actions
       class="flex-reverse">
    <button mat-button
            [disabled]="!service.form || service.form.invalid || service.loadingSource || ingredientService.loadingSource"
            type="submit"
            (click)="onSubmitClick()">
      <ng-container *ngIf="!value">Ajouter</ng-container>
      <ng-container *ngIf="value">Modifier</ng-container>
    </button>
    <button mat-button
            type="button"
            (click)="onCancelClick()">Annuler</button>
  </div>

</form>
