<form [formGroup]="service.form"
      *ngIf="service.form"
      (ngSubmit)="onSubmitClick()">
  <mat-dialog-content>
    <fieldset [disabled]="service.loadingSource || ingredientService.loadingSource"
              [ngStyle]="{'pointer-events':service.loadingSource || ingredientService.loadingSource ? 'none' : 'auto' }">
      <mat-form-field class="full-width">
        <mat-label>Quel est l'ingrédient ?</mat-label>
        <mat-select cdkFocusInitial
                    formControlName="ingredient"
                    [compareWith]="compareId">
          <mat-option *ngFor="let ingredient of ingredientService.model"
                      [value]="ingredient">
            {{ingredient.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          {{service.form.get('ingredient').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Quantité {{service.form.value.ingredient ? '(' + service.form.value.ingredient.unit + ')' : ''}}
        </mat-label>
        <app-quantity-input formControlName="quantity"
                            [unit]="service.form.value.ingredient.unit"
                            [unitFactor]="service.form.value.ingredient.unitFactor"
                            required></app-quantity-input>
        <mat-error>
          {{service.form.get('quantity').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Prix</mat-label>
        <app-price-input formControlName="price"
                         required></app-price-input>
        <mat-error>
          {{service.form.get('price').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>État</mat-label>
        <mat-select required
                    formControlName="state"
                    placeholder="Ex: Commandé">
          <mat-option *ngFor="let state of service.states"
                      [value]="state.value">
            {{state.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error>
          {{service.form.get('state').errors?.serverError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width cursor">
        <mat-label>Fournisseur</mat-label>
        <app-supplier-select-input #supplier
                                   formControlName="supplier"></app-supplier-select-input>
        <button mat-icon-button
                matSuffix
                [matTooltip]="'Supprime le fournisseur'"
                *ngIf="service.form.get('supplier').value"
                (click)="supplier.deleteSupplier($event)">
          <mat-icon svgIcon="close"></mat-icon>
        </button>
        <mat-error>
          {{service.form.get('supplier').errors?.serverError}}
        </mat-error>
      </mat-form-field>
    </fieldset>
  </mat-dialog-content>
  <div mat-dialog-actions
       class="flex-reverse">
    <button mat-icon-button
            [disabled]="!service.form || service.form.invalid || service.loadingSource || ingredientService.loadingSource"
            [attr.aria-label]="!value ? 'Ajouter' : 'Modifier'"
            [matTooltip]="!value ? 'Ajouter' : 'Modifier'"
            type="submit"
            (click)="onSubmitClick()">
      <ng-container *ngIf="!value">
        <mat-icon svgIcon="flask-plus-outline"></mat-icon>
      </ng-container>
      <ng-container *ngIf="value">
        <mat-icon svgIcon="flask"></mat-icon>
      </ng-container>
    </button>
    <button mat-icon-button
            attr.aria-label="Annuler"
            matTooltip="Annuler"
            type="button"
            (click)="onCancelClick()">
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
    <div class="spacer"></div>
    <button mat-icon-button
            [disabled]="!service.form || service.form.invalid || service.loadingSource || ingredientService.loadingSource"
            attr.aria-label="Suppression"
            matTooltip="Suppression"
            type="button"
            (click)="onDeleteClick()">
      <mat-icon svgIcon="flask-remove"></mat-icon>
    </button>
  </div>

</form>
