<div class="horizontal-flex">
  <mat-horizontal-stepper [linear]="true"
                          #stepper
                          labelPosition="bottom"
                          [selectedIndex]="indexCurrentBrew"
                          class="stepper">
    <mat-step *ngFor="let brewState of states"
              [state]="brewState.isDone ? 'done': brewState.isCurrent ? 'edit' : 'number'"
              [completed]="brewState.isDone"
              [stepControl]="brewState.isDoneForm">
      <ng-template matStepperIcon="done">
        <mat-icon>done_all</mat-icon>
      </ng-template>
      <ng-template matStepLabel>{{brewState.state.viewValue}}
        <ng-container *ngIf="brewState.state.value === 'brewing' && brew.started"><br />{{brew.started | date:
          'dd-M-yyyy'}}
        </ng-container>
        <ng-container *ngIf="brewState.state.value === 'packaging' && brew.ended"><br />{{brew.ended | date:
          'dd-M-yyyy'}}
        </ng-container>
      </ng-template>
      <ng-container [ngSwitch]="service.states[stepper.selectedIndex].value">
        <app-brew-ingredient-desktop [brew]="brew"
                                     [ingredientService]="ingredientService"
                                     [brewService]="service"
                                     *ngSwitchCase="'created'"></app-brew-ingredient-desktop>
        <app-brew-ingredient-desktop [brew]="brew"
                                     [ingredientService]="ingredientService"
                                     [brewService]="service"
                                     [isPlanedView]="true"
                                     *ngSwitchCase="'planed'"></app-brew-ingredient-desktop>
        <app-brew-ingredient-brewing [brew]="brew"
                                     *ngSwitchCase="'brewing'"></app-brew-ingredient-brewing>
        <div *ngSwitchDefault>
          La vue de {{service.states[stepper.selectedIndex].value}} non présent pour le moment.
        </div>
      </ng-container>
    </mat-step>
  </mat-horizontal-stepper>
</div>
