<mat-tab-group [selectedIndex]="formSelectedOrder.value"
               mat-align-tabs="center"
               (selectedIndexChange)="formSelectedOrder.setValue($event)">
  <mat-tab label="Commandes">
    <button mat-button
            (click)="addNewOrder()">
      <mat-icon>add_circle_outline</mat-icon>
      <mat-label>Créer une commande</mat-label>
    </button>
    <app-table [service]="service"
               class="full-width"
               [allowSelection]="!service.loadingSource && !brewService.loadingSource && !supplierService.loadingSource"
               #tableComponent></app-table>
    <app-pagination [paginate]="service.paginate"></app-pagination>
  </mat-tab>
  <mat-tab *ngFor="let order of selectedOrders; let index = index"
           [ngSwitch]="order.state">
    <ng-template mat-tab-label>
      {{service.getDisplay('tabOrder', order)}}
      <button mat-icon-button
              (click)="closeTab($event, order, index)">
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
    <app-order-detail-creation *ngSwitchCase="'created'"
                               [order]="order"></app-order-detail-creation>
    <app-order-detail *ngSwitchDefault></app-order-detail>

  </mat-tab>
</mat-tab-group>
