<div class="full-width">
  <mat-tab-group [selectedIndex]="display.formSelectedOrder.value"
                 mat-align-tabs="center"
                 class="full-width"
                 (selectedIndexChange)="display.changeSelectedIndex($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon svgIcon="truck-check"></mat-icon>
        Commandes
        <mat-icon svgIcon="arrow-expand-down"
                  *ngIf="display.formSelectedOrder.value === 0"></mat-icon>
        <mat-icon svgIcon="arrow-expand-right"
                  *ngIf="display.formSelectedOrder.value > 0"></mat-icon>
      </ng-template>

      <div class="side-container">
        <div class="side-sidenav"
             #filterSide
             [@filterDialogExpand]="display.filterOrder ? 'expanded' : 'collapsed'">
          <mat-nav-list class="filter-container">
            <h1>État</h1>
            <app-order-filter (selectedStates)="selectedStatesChange($event)"></app-order-filter>
          </mat-nav-list>
        </div>
        <div class="side-main"
             [@contentSideMain]="{
               value: display.filterOrder ? 'filterExpanded' : 'filterCollapsed'
               , params:{margin_left: filterSide.offsetWidth}}">
          <app-table [service]="service"
                     class="full-width"
                     [allowSelection]="!service.loadingSource
                  && !display.brewService.loadingSource
                  && !display.supplierService.loadingSource"
                     #tableComponent></app-table>
          <app-pagination [paginate]="service.paginate"></app-pagination>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngFor="let order of display.selectedOrders; let index = index"
             [ngSwitch]="order.state">
      <ng-template mat-tab-label>
        {{service.getDisplay('tabOrder', order)}}
        <button mat-icon-button
                (click)="display.closeTab($event, order, index)">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <app-order-detail-creation *ngSwitchCase="'created'"
                                 [order]="order"></app-order-detail-creation>
      <app-order-detail *ngSwitchDefault
                        [order]="order"></app-order-detail>
    </mat-tab>
  </mat-tab-group>
</div>
