<mat-tab-group [selectedIndex]="orderDisplayService.formSelectedOrder.value"
               mat-align-tabs="center"
               (selectedIndexChange)="orderDisplayService.changeSelectedIndex($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="truck-check"></mat-icon>
      Commandes
      <mat-icon svgIcon="arrow-expand-down"
                *ngIf="orderDisplayService.formSelectedOrder.value === 0"></mat-icon>
      <mat-icon svgIcon="arrow-expand-right"
                *ngIf="orderDisplayService.formSelectedOrder.value > 0"></mat-icon>
    </ng-template>
    <app-table [service]="service"
               class="full-width"
               [allowSelection]="!service.loadingSource
                  && !orderDisplayService.brewService.loadingSource
                  && !orderDisplayService.supplierService.loadingSource"
               #tableComponent></app-table>
    <app-pagination [paginate]="service.paginate"></app-pagination>
  </mat-tab>
  <mat-tab *ngFor="let order of orderDisplayService.selectedOrders; let index = index"
           [ngSwitch]="order.state">
    <ng-template mat-tab-label>
      {{service.getDisplay('tabOrder', order)}}
      <button mat-icon-button
              (click)="orderDisplayService.closeTab($event, order, index)">
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
    <app-order-detail-creation *ngSwitchCase="'created'"
                               [order]="order"></app-order-detail-creation>
    <app-order-detail *ngSwitchDefault
                      [order]="order"></app-order-detail>

  </mat-tab>
</mat-tab-group>
