.multi-column-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
@media (max-width: 1400px) {
  .multi-column-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 951px) {
  .multi-column-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
