$md-light-primary: (
    50 : #fff3ef,
    100 : #ffe1d6,
    200 : #ffcdbb,
    300 : #ffb89f,
    400 : #ffa98b,
    500 : #ff9a76,
    600 : #ff926e,
    700 : #ff8863,
    800 : #ff7e59,
    900 : #ff6c46,
    A100 : #ffffff, // foreground
    A200 : #ffeadb, // background
    A400 : #fff1ed,
    A700 : #ffdcd4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-light-accent: (
    50 : #edf3f3,
    100 : #d1e1e1,
    200 : #b3cdcd,
    300 : #95b9b9,
    400 : #7eaaaa,
    500 : #679b9b,
    600 : #5f9393,
    700 : #548989,
    800 : #4a7f7f,
    900 : #396d6d,
    A100 : #bfffff,
    A200 : #8cffff,
    A400 : #59ffff,
    A700 : #40ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-light-warn: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
