<button mat-button
        (click)="addIngredient()">
  <mat-icon>add_circle_outline</mat-icon>
  <mat-label>Ajouter un ingrédient</mat-label>
</button>
<button mat-button
        *ngIf="isPlanedView"
        (click)="letsGoBrew()">
  <mat-icon>receipt</mat-icon>
  <mat-label>Bra...Brassage !</mat-label>
</button>
<div class="element-listing"
     *ngIf="!ingredientService.loadingSource">
  <app-brew-ingredient-table *ngFor="let children of brewIngredientByType"
                             [brewIngredientByType]="children"></app-brew-ingredient-table>
</div>
