<form [formGroup]="service.form"
      *ngIf="service.form"
      (ngSubmit)="onSubmitClick()">
  <mat-dialog-content>
    <fieldset [disabled]="service.loadingSource"
              [ngStyle]="{'pointer-events':service.loadingSource ? 'none' : 'auto' }">
      <mat-form-field class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput
               required
               formControlName="name"
               placeholder="Ex: J'en connais pas."
               value="">
        <mat-error>
          {{service.form.get('name').errors?.serverError}}
        </mat-error>
      </mat-form-field>
    </fieldset>
  </mat-dialog-content>
  <div mat-dialog-actions
       class="flex-reverse">
    <button mat-icon-button
            *ngIf="!value"
            [disabled]="!service.form || service.form.invalid || service.loadingSource"
            type="submit"
            attr.aria-label="Ajouter"
            matTooltip="Ajouter"
            (click)="onSubmitClick()">
      <mat-icon svgIcon="folder-plus"></mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="value"
            [disabled]="!service.form || service.form.invalid || service.loadingSource"
            attr.aria-label="Modifier"
            matTooltip="Modifier"
            (click)="onSubmitClick()">
      <mat-icon svgIcon="folder-edit"></mat-icon>
    </button>
    <button mat-icon-button
            type="button"
            attr.aria-label="Annuler"
            matTooltip="Annuler"
            (click)="onCancelClick()">
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
    <div class="spacer"></div>
    <button mat-icon-button
            *ngIf="value"
            [disabled]="!service.form || service.form.invalid || service.loadingSource"
            attr.aria-label="Suppression"
            matTooltip="Suppression"
            type="button"
            (click)="onDeleteClick()">
      <mat-icon svgIcon="flask-remove"></mat-icon>
    </button>
  </div>
</form>
