<app-supplier-toolbar [isDialog]="true"
                      [prefix]="dialog"></app-supplier-toolbar>
<app-supplier-desktop [service]="service"
                      *ngIf="display.isViewTable"
                      [allowSelection]="true"></app-supplier-desktop>
<app-supplier-list *ngIf="display.isViewList"
                   [isDialog]="true"></app-supplier-list>
<div mat-dialog-actions
     class="flex-reverse">
  <button mat-button
          [disabled]="!service.selected"
          (click)="onSubmitClick()">
    Celui-ci
  </button>
  <button mat-button
          type="button"
          (click)="onCancelClick()">Annuler</button>
</div>
