<div class="inline-header">
  <div class="inline">
    <button mat-icon-button
            (click)="openCreateDialog($event)"
            [class.spinner]="service.loadingSource"
            [disabled]="service.loadingSource"
            [matTooltip]="'Ajouter un ingrédient type à la base de données'">
      <mat-icon svgIcon="beaker-plus"></mat-icon>
    </button>
    <button mat-icon-button
            [disabled]="service.loadingSource"
            [matTooltip]="ingredientDisplay.filterExpanded ? 'Cacher les filtres' : 'Afficher les filtres'"
            (click)="ingredientDisplay.filterExpanded = !ingredientDisplay.filterExpanded">
      <mat-icon svgIcon="filter"
                *ngIf="ingredientDisplay.filterExpanded"></mat-icon>
      <mat-icon svgIcon="filter-off"
                *ngIf="!ingredientDisplay.filterExpanded"></mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Affichage sous forme de tableau"
            *ngIf="ingredientDisplay.isViewList"
            (click)="ingredientDisplay.viewTable()">
      <mat-icon svgIcon="view-column">
      </mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Affichage sous forme de list"
            *ngIf="ingredientDisplay.isViewTable"
            (click)="ingredientDisplay.viewList()">
      <mat-icon svgIcon="view-agenda">
      </mat-icon>
    </button>
  </div>
  <div class="spacer"></div>
  <div class="bra-center"
       *ngIf="!((isHandset$ | async) || (isSmallScreen$ | async)) && !isDialog">
    <img class="little-title"
         alt="Bra.Tool Menu"
         src="./assets/dark/banner_BRATOOL.svg" />
  </div>
  <div class="spacer"></div>
  <form [formGroup]="searchForm">
    <fieldset [disabled]="service.loadingSource">
      <mat-form-field>
        <mat-label>Recherche</mat-label>
        <input matInput
               id="searchText"
               formControlName="search"
               type="search"
               aria-label="Recherche">
        <button for="searchText"
                mat-icon-button
                matSuffix
                type="submit"
                (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </fieldset>
  </form>
</div>
