

<!-- BOUTON AJOUTER INGREDIENT -->
<button mat-button
        (click)="openCreateDialog()"
        [matTooltip]="'Ajouter ingrédient au stock'">
  <mat-icon>add_circle_outline</mat-icon>
  <mat-label>  Ajouter un ingrédient au stock</mat-label>
</button>

<table mat-table
       class="full-width"
       #matTable
       matSort
       [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header="name"> Nom </th>
    <td mat-cell
        *matCellDef="let element"> {{element.ingredient.name}} </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header="quantity"> Quantité </th>
    <td mat-cell
        *matCellDef="let element">
      {{element.quantityCalc()}} {{element.ingredient.unit}}
    </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header="state"> État </th>
    <td mat-cell
        *matCellDef="let element"> {{element.state}} </td>
  </ng-container>
  <ng-container matColumnDef="creationDate">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header="creationDate"> Crée le </th>
    <td mat-cell
        *matCellDef="let element"> {{element.creationDate}} </td>
  </ng-container>
  <ng-container matColumnDef="orderedDate">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header="orderedDate"> Commandé le </th>
    <td mat-cell
        *matCellDef="let element"> {{element.orderedDate}} </td>
  </ng-container>
  <ng-container matColumnDef="endedDate">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header="endedDate"> Terminé le </th>
    <td mat-cell
        *matCellDef="let element"> {{element.endedDate}} </td>
  </ng-container>
  <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>